body {
  color: rgb(77, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img {
  width: 30%;
}
footer {
  color: rgb(109, 109, 109);
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  color: darkgray;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  margin-bottom: 48px;
}
header a {
  color: #8888;
  margin-right: 16px;
  text-decoration: none;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
